html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

html {
	font-family: 'Montserrat', sans-serif;
}

body {
	display: flex;
	align-items: center;
	margin: 0;
	height: 100vh;
	background-image: linear-gradient(rgba(62, 20, 20, .4), rgba(62, 20, 20, .4)), url(../assets/back.jpg);
	background-position: center;
	background-size: cover;
	color: $color--first;
}

.wrapper {
	position: relative;
	margin: 0 auto;
	width: 1000px;
	min-height: 65%;
	background-color: $color--fourth;
	box-shadow: 0 10px 50px rgba(0, 0, 0, .3);
}

.game {
	display: flex;
}

.final-score {
	position: absolute;
	top: 520px;
	left: 50%;
	padding: 10px;
	width: 160px;
	color: $color--first;
	text-align: center;
	text-transform: uppercase;
	font-size: 18px;
	transform: translateX(-50%);
}

.final-score:focus {
	outline: none;
}

.player--winner .player__name {
	color: $color--second;
	font-weight: 300;
}
